/* QDarkStyleSheet -----------------------------------------------------------

This is the main style sheet, the palette has nine colors.

It is based on three selecting colors, three greyish (background) colors
plus three whitish (foreground) colors. Each set of widgets of the same
type have a header like this:

    ------------------
    GroupName --------
    ------------------

And each widget is separated with a header like this:

    QWidgetName ------

This makes more easy to find and change some css field. The basic
configuration is described bellow.

    BACKGROUND -----------

        Light   (unpressed)
        Normal  (border, disabled, pressed, checked, toolbars, menus)
        Dark    (background)

    FOREGROUND -----------

        Light   (texts/labels)
        Normal  (not used yet)
        Dark    (disabled texts)

    SELECTION ------------

        Light  (selection/hover/active)
        Normal (selected)
        Dark   (selected disabled)

If a stranger configuration is required because of a bugfix or anything
else, keep the comment on the line above so nobody changes it, including the
issue number.

*/

UValidateLine{
    border: $BORDER_NORMAL;
}
UValidateLine[state=default]{
    border: $BORDER_NORMAL;
}
UValidateLine[state=pending]{
    border: $BORDER_YELLOW;
}
UValidateLine[state=invalid]{
    border: $BORDER_RED;
}
UValidateLine[state=valid]{
    border: $BORDER_GREEN;
}


UToggle{
    padding: 2px;
    height: 20px;

    &::handle {

        &:horizontal {
            background: $COLOR_FOREGROUND_DARK;
            border: $BORDER_NORMAL;
            image: url($PREFIX + '/img/material/circle.png');
            border-radius: $SIZE_BORDER_RADIUS;

            &:hover {
                background: $COLOR_SELECTION_LIGHT;
                border: $BORDER_SELECTION_LIGHT;
                image: url($PREFIX + '/img/material/circle_focus.png');
            }

            &:focus {
                border: $BORDER_SELECTION_NORMAL;
                image: url($PREFIX + '/img/material/circle_close_pressed.png');
            }
        }
    }
}


/* ULine --------------------------------------------------------------

--------------------------------------------------------------------------- */
UVLine{
        border: none;
        background-color: $COLOR_FOREGROUND_LIGHT;
}
UHLine{
        border: none;
        background-color: $COLOR_FOREGROUND_LIGHT;
}

UDoubleChannelSpinbox#red_channel{
    border-color: $COLOR_NEUTRAL_RED;
}
UDoubleChannelSpinbox#green_channel{
    border-color: $COLOR_NEUTRAL_GREEN;
}
UDoubleChannelSpinbox#blue_channel{
    border-color: $COLOR_NEUTRAL_BLUE;
}
